// colors
$gradientHigh: linear-gradient(135deg, rgba(237, 125, 211, 1) 0%, rgba(248, 68, 118, 1) 100%);
$pink: #ed7cd3;
$gradientMed: linear-gradient(135deg, rgba(128, 213, 186, 1) 0%, rgba(113, 215, 231, 1) 100%);
$pearlAqua: #80d5ba;
$gradientLow: linear-gradient(135deg, rgba(145, 170, 253, 1) 0%, rgba(115, 179, 254, 1) 100%);
$blue: #91aafd;
$gradientInProgress: linear-gradient(135deg, rgba(255, 150, 131, 1) 0%, rgba(255, 183, 76, 1) 100%);
$tangerine: #ff9683;
$bluePurple: #9ea7fc;
$gradientDone: linear-gradient(135deg, rgba(158, 167, 252, 1) 0%, rgba(105, 182, 255, 1) 100%);
$gradientTodo: linear-gradient(135deg, rgba(128, 213, 186, 1) 0%, rgba(113, 215, 231, 1) 100%);
$bgColor: #eef2f9;
$bgSectionColor: #f6f8fc;
$bgCardColor: #ffffff;
$slatan-100: #d9dae1;
$slatan-200: #cacad7;
$primary-light: #646487;
$textColor: #686889;